html, body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #090909;
	font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

section {
  background-color: #eee;
}


.question {
  padding: 1em 0 1em 0;
  background-color: #EAEAEA;
}

.question:nth-child(2n) {
  background-color: #FFFFFF;
}

.container-fluid {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  padding: 0;
}

h1 {
  font-family: 'Luckiest Guy', cursive;  
}

label {
  font-size: 1em;
}

.container-fluid > input {
	opacity: 0;
	z-index: 1000;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
