html, body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 1.0em;
  z-index: 2;
}

section {
  min-height: 100vh;
  margin-bottom: 2em;
  transition: min-height 99999s; /* workaround for view jumping when the urlbar appears on mobile */
}

.background {
  position: fixed;
  width: 100vw;
  height: 101vh;
  z-index: 0;
  background-image: url("img/1.jpg");
  background-size: cover;	
  transition: height 99999s; /* workaround for view jumping when the urlbar appears on mobile */
}

.w-box {
  background-color: #02AAFF;
  background-color: rgba(2, 175, 255, 0.9);
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 2em;
}

.question {
  color: #090909;
  padding: 1em 0 1em 0;
  background-color: #EAEAEA;
  background-color: rgba(245, 245, 245, 0.8);
}

.question:nth-child(2n) {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-fluid {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  padding: 0;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  color: #090909;
  padding-bottom: 1em;  
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
