html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 1.0em;
  z-index: 2;
}

section {
  min-height: 100vh;
  margin-bottom: 5em;
  transition: min-height 0.5s; /* workaround for view jumping when the urlbar appears on mobile */
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-image: url("img/3.jpg");
  background-size: cover;	
  transition: height 0.5s; /* workaround for view jumping when the urlbar appears on mobile */
}

.w-box, .popup {
  background-color: #EC62A9;
  background-color: rgba(255, 100, 180, 0.9);
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 2em;
  z-index: 2;
}

.question {
  color: #090909;
  padding: 1em 0 1em 0;
  background-color: #FFFFFF;
  background-color: rgba(245, 245, 245, 0.8);
}

.question:nth-child(2n) {
  background-color: #EAEAEA;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-fluid {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  padding: 0;
}

.info {
  font-style: italic;
  color: #4C4C4C;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  color: #FFFFFF;  
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.arvontahidden {
  visibility: hidden;
}

.arvontahidden:not(:checked) + .yhteystiedot {
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden;
}

.arvontahidden:not(:checked) + .yhteystiedot > div, .arvontahidden:not(:checked) + .yhteystiedot > h1  {
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden;
}

.arvontahidden:checked + .yhteystiedot {
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 100;
}

.arvontahidden:checked + .yhteystiedot > div, .arvontahidden:checked + .yhteystiedot > h1 {
  opacity: 100;
}

.popup {
  z-index: 5;
}

.match-pic {
  border: 1px solid #000;
}

.quote {
  font-style: italic;
}

input[type=range] {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #02AAFF;
  border-radius: 1.3px;
  border-style: solid;
  border-color: #010101;
  border-width: 0.2px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #009AEF;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #02AAFF;
  border-radius: 1.3px;
  border-style: solid;
  border-color: #010101;
  border-width: 0.2px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #02AAFF;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #02AAFF;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #02AAFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #02AAFF;
}

input[type=submit], .check {
  color: #000;
  padding: 1em;
  background-color: #FFF;
  border-radius: 1em;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
}
