<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body ng-app="wappuheila" ng-controller="MainController as main">
      <div class="container-fluid">
        <div class="background">&nbsp;</div>
        <div class="popup-bg" ng-show="main.popup || main.debug">
          <div class="popup col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3" id="popup"><%- include('../partials/'+lang.str+'/match.ejs') %></div>
        </div>
        <form name="answers" ng-submit="main.postData()">
          <section class="vertical-center">
            <div class="w-box col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <%- include('../partials/'+lang.str+'/intro.ejs') %>
            </div>
          </section>
          <section>
            <div class="w-box col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <%- include('../partials/'+lang.str+'/questions.ejs') %>
              <input type="checkbox" id="arvontahide" class="arvontahidden" name="arvonta" value="1" ng-model="main.registration.arvonta"/>
              <div class="yhteystiedot">
                <%- include('../partials/'+lang.str+'/signup.ejs') %>
              </div>
              <!-- Uncomment the below and comment the other version to enable heila registration -->
              <div class="error" ng-show="main.error">Virhe! {{main.error}}</div>
              <label class="check" for="arvonta"><input type="checkbox" id="arvonta" name="arvonta" value="1" ng-model="main.registration.arvonta"/> Haluan heilaksi!</label>
              <input type="submit" name="ok" value="Matchaa mut!"/>

              <!--
              <div class="error" ng-show="main.error">Virhe! {{main.error}}</div>
              <label class="check" for="arvonta"><input type="checkbox" id="arvonta" name="arvonta" value="1" ng-model="main.registration.arvonta"/> Haluan arvontaan!</label>
              <input type="submit" name="ok" value="Matchaa mut!"/>
              -->
            </div>
          </section>
        </form>
      </div>
      <footer>
      </footer>
    </body>
</html>
