<h1>KTH, Kungliga Tekniska högskolan</h1>
<p>Kuninkaallinen teknillinen korkeakoulu on yliopisto Tukholmassa. Se perustettiin vuonna 1827 ja on Ruotsin vanhin ja suurin teknillistä opetusta tarjoava yliopisto.</p>
<p>Ruotsalaiset teekkarit ovat myös tunnettuja kulttuuristaan ja moni meille tuttu perinne onkin ruotsalaista perua. KTH:lla kuulemme hieman paikallisesta opiskelijakulttuurista ja ruotsalaisesta teekkariudesta.</p>