<h1>Wappuvastaukset</h1>

<div class="row">
  <label class="col-xs-3 col-lg-3">Kuinka innolla odotat wappua?</label>
  <div class="col-xs-8 col-lg-5">
    <input name="expectation" type="range" min="0" max="10" ng-model="main.registration.expectation" oninput="this.form.expectationtext.value=this.value" required/>
  </div>
  <input class="col-xs-1 col-lg-1" name="expectationtext" type="text" min="0" max="10" oninput="this.form.expectation.value=this.value" required/>
</div>
<div class="row">
  <label class="col-xs-3 col-lg-3">Kuinka monta yötä sinun wappusi kestää?</label>
  <div class="col-xs-8 col-lg-5">
    <input name="wappudays" type="range" min="1" max="24" ng-model="main.registration.wappudays" oninput="this.form.wappudaystext.value=this.value" required/>
  </div>
  <input class="col-xs-1 col-lg-1" name="wappudaystext" type="number" min="1" max="24" oninput="this.form.wappudays.value=this.value" required/>
</div>
<div class="row">
  <label class="col-xs-3 col-lg-3"></label>
  <input class="col-xs-9 col-lg-6 input-2" name="email" type="email" ng-model="main.registration.email" required/>
</div>
