<h1>It's a match!</h1>
<div class="col-xs-12 col-md-10 col-lg-6">
  <div class="match-pic col-xs-12 col-md-12 col-lg-12" style="background-image: url('{{main.registration.match.profilepic}}');">
    <img ng-src="{{main.registration.match.profilepic}}" style="visibility: hidden;"/>
  </div>
  <br/>
</div>
<div class="match-desc col-xs-12 col-md-10 col-lg-6">
  <h4>Tähdet ja planeetat ovat puhuneet, wappuserpentiinit lentävät! Planeettojen oikea kulma kertoi, että sinun wappuheilasi on...</h4>
  <h2>{{main.registration.match.name}}!</h2>
  <br>
  <p>Hän sanoo itsestään seuraavaa:<br> <span class="quote"> "{{main.registration.match.profilequote}}"</span></p>
  <br>
</div>
<div class="match-desc col-xs-12 col-md-12 col-lg-12">
<h3>Etsi hänet käsiisi, niin pääset varmasti heti wapputohinoihin! Hyvää wappuheilaonnea!</h3>
</div>
