
<div class="row question">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <label>Klikkaa, jos haluat, ett채 sinut voidaan matchata palvelussa.</label>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <label class="check" for="heilaksi">
      <input type="checkbox" id="heilaksi" name="heilaksi" value="1" ng-model="main.registration.heilaksi"/>
      Haluan heilaksi!
    </label>
  </div>
</div>
<div class="row question" ng-show="main.registration.heilaksi">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <label class="profilequote" for="profilequote">
      Itsest채si kertova teksti - lausahdus tai vaikkapa essee kelpaa!
    </label>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <textarea type="text" name="profilequote" id="profilequote" ng-model="main.registration.profilequote" ng-required="main.registration.heilaksi"></textarea>
  </div>
</div>
<div class="row question" ng-show="main.registration.heilaksi">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <label class="img" for="profilepic">
      Profiilikuvan URL:
    </label>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <input type="url" name="profilepic" id="profilepic" ng-model="main.registration.profilepic" ng-required="main.registration.heilaksi"/>
  </div>
  <p class="info">Varmista, ett채 profiilikuva n채kyy alla!</p>
</div>
<div class="row question" ng-show="main.registration.heilaksi">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
    <img class="col-xs-12 col-md-12 col-lg-12" ng-src="{{main.registration.profilepic}}" alt="none" title="Profiilikuva">
  </div>
</div>
