
<h1>Aikataulu:</h1>
<table class="schedule">
	<tr>
		<td class="date">ma 26.10.2015</td> 
		<td class="time">klo 23:59</td>
		<td class="info">Sitova ilmoittautuminen päättyy, maksun eräpäivä!</td>
	</tr>
	<tr>
		<td class="date">ke 25.11.2015</td>
		<td class="time">klo 15:00</td>
		<td class="info">mennessä oltava Olympiaterminaalissa. Ole ajoissa ja muista virallinen henkilöllisyystodistus!</td>
	</tr>
	<tr>
		<td class="date"></td>
		<td class="time">klo 17:00</td>
		<td class="info">Laiva lähtee kohti Tukholmaa</td>
	</tr>
	<tr>
		<td class="date">to 26.11.2015</td>
		<td class="time">klo 09:30</td>
		<td class="info">saapuminen Tukholmaan, vierailu KTH:lla</td>
	</tr>
	<tr>
		<td class="date"></td>
		<td class="time">klo 17:00</td>
		<td class="info">laiva lähtee Tukholmasta Värtan-satamasta, ÄLÄ MYÖHÄSTY!</td>
	</tr>
	<tr>
		<td class="date">pe 27.11.2015</td>
		<td class="time">klo 10:30</td>
		<td class="info">saapuminen Helsinkiin</td>
	</tr>
</table>